/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #eea901;
  --ifm-color-primary-dark: #eea90c;
  --ifm-color-primary-darker: #eea908;
  --ifm-color-primary-darkest: #eea90b;
  --ifm-color-primary-light: #eea90d;
  --ifm-color-primary-lighter: #eea902;
  --ifm-color-primary-lightest: #eea90e;
  --ifm-code-font-size: 95%;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #eea900;
  --ifm-color-primary-dark: #eea900;
  --ifm-color-primary-darker: #eea900;
  --ifm-color-primary-darkest: #eea900;
  --ifm-color-primary-light: #eea900;
  --ifm-color-primary-lighter: #eea900;
  --ifm-color-primary-lightest: #eea900;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

[data-theme="dark"] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}
